<h1>Sign up!</h1>

<div class="form-control">
    <form action="/signup" method="post">
        <label for="username">Username</label>
        <input type="text" name="user[username]" id="username" required>
        <label for="email">Email</label>
        <input type="email" name="user[email]" id="email" required>
        <label for="username">Password</label>
        <input type="text" name="user[password]" id="password" required>
        <input type="submit" class="btn btn-success btn-lg" value="Signup">
    </form>

</div>