<h1>Appointments</h1>

<ul>
    <% @appointments.each.with_index(1) do |a, i| %>
        <a href="/appointments/<%= a.id%>"><%= i %>. <%= a.datetime %> - Physician: <%= a.physician.try(:name) || "N/A" %></a><br>
    <% end %>
</ul>