<h1>Location: <%= @appointment.location %></h1>
<h3>Physician name: <%= @appointment.physician.name%></h3>
<h3>Patient name: <%= @appointment.patient.name %></h3>
<h3>Datetime: <%= @appointment.datetime %></h3>